.selectCurrency{
    margin-top: -5px;
    color: black;
}

.css-14el2xx-placeholder{
    color: black !important;
    text-transform: uppercase;
}

.css-qc6sy-singleValue{
    text-transform: uppercase;
}

.css-26l3qy-menu{
    border: none !important;
    text-transform: uppercase;
}
.css-b62m3t-container{
    border: none !important;
    background-color: rgb(237, 237, 237) !important;
}

.css-1s2u09g-control{
    background-color: rgb(237, 237, 237) !important;
    border: none;
}
.css-1s2u09g-control:hover{
    background-color: rgb(237, 237, 237) !important;
    border: none !important;
}
.css-319lph-ValueContainer{
    border: none !important;
}

.css-1pahdxg-control:hover{
    border: none !important;
    background-color: rgb(237, 237, 237) !important;
    border-color: rgb(237, 237, 237) !important;
}

.css-tlfecz-indicatorContainer{
    border: none !important;
    display: none !important;
}
.css-1hb7zxy-IndicatorsContainer{
    border: none !important;
    display: none !important;
}
.css-1s2u09g-control{
    border: none !important;
}
